@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active a:focus {
  text-decoration: none;
  outline-style: none;
}

h1,
h2,
h3 {
  color: white;
  font-weight: 900;
}

p,
span {
  color: white;
}
/* ===== NAVBAR =====*/

.navbar-toggler:focus,
.navbar-toggler:target,
.navbar-toggler:hover {
  outline: none;
  box-shadow: none;
}

.fas {
  color: #fff;
}

#brandName {
  letter-spacing: 8px;
}

.nav1 {
  background-color: transparent;
  transition: 0.5s;
  padding-top: 20px;
}

.nav2 {
  background-color: white;
  transition: 0.5s;
}

/* .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #19f6e8;
  transition: width 0.3s;
} */
.nav-link {
  display: inline-block;
}

/* ===== MASTHEAD =====*/
.headline {
  font-size: 40px;
  font-weight: 600;
}

.ah-headline {
  color: #f5f5f5;
  font-size: 20px;
  font-weight: 300;
  margin: 20px;
}

.ah-words-wrapper {
  width: 214px;
}

.ah-words-wrapper::after {
  background-color: #f5f5f5 !important;
}

#landing {
  height: 90vh;
}
#landingPicture {
  margin-top: 140px;
}
.fab {
  color: #19e3d6;
}
#profile {
  padding: 36px 0 72px;
}

#allenImg {
  border-radius: 50%;
  border: solid;
  border-color: white;
  border-width: 0.3rem;
}

.masthead {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.pexels.com/photos/552785/pexels-photo-552785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
}

#homeButton {
  display: inline-block;
  margin-top: 32px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
}
#homeButton a {
  color: #fff;
}
/* ===== ABOUT =====*/
#about {
  padding-top: 72px;
  padding-bottom: 72px;
  background: white;
}
#about p,
#about h2,
#about h6,
#about span {
  color: #111111;
  margin: 10px;
}

#about h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #19e3d6;
}
/* ===== SKILLS =====*/

/* .masthead {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.pexels.com/photos/207153/pexels-photo-207153.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=900&w=900);
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
} */

#skills {
  padding-top: 72px;
  padding-bottom: 36px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.pexels.com/photos/158672/fog-forest-mountain-world-clouds-158672.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}
#skills h2 {
  color: #fff;
}

#skills h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #19e3d6;
}

#skills .skills {
  position: relative;
  display: flex;
  margin: 0 0;
  padding: 10px;
  overflow: hidden;
}

#skills .skills .Name {
  position: relative;
  width: 110px;
  text-align: right;
  color: #fff;
}
#skills .skills .Value {
  position: relative;
  width: 40px;
  text-align: left;
  color: #fff;
  margin-top: -2px;
}
#skills .skills .percent {
  position: relative;
  width: calc(100% - 150px);
  height: 20px;
  margin: 0 10px;
  background: #333;
  overflow: hidden;
}
#skills .skills .percent .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: #19e3d6;
  border-radius: 0%;
}

#skills .skills:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

#techStack {
  margin-top: 72px;
}
#skills .fab {
  padding: 5px;
  color: white;
}
#skills .fab:hover {
  padding: 5px;
  color: #19e3d6;
}

/* ===== PORTFOLIO =====*/

#portfolio .fas {
  color: black;
}

#portfolio {
  padding-top: 72px;
  padding-bottom: 72px;
  background: white;
}

#portfolio p {
  font-size: 14px;
}

#portfolio .work-title {
  font-weight: 500;
  color: #2b2b2b;
  letter-spacing: 2px;
  font-size: 20px;
}
#portfolio .work-description {
  color: #0ca6a6;
}

/* #portfolio .work-title::after {
  content: "";
  display: block;
  width: 110%;
  height: 2px;
  background: #19e3d6;
} */

#portfolio p,
#portfolio h1,
#portfolio h2,
#portfolio h3,
#portfolio span {
  color: #111111;
  margin: 5px;
}

#portfolio h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #19e3d6;
}
#projects .box {
  position: relative;

  height: 300px;
  width: auto;
  overflow: hidden;
}
#projects .box .work-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}

#projects .box .image-box {
  height: 70%;
  width: 100%;
}
#projects .box .work-content {
  padding: 10px 20px;
  height: 30%;
  width: 100%;
}

#projects .box:hover .work-box {
  transform: translateY(-100%);
}
#projects .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#projects .box .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}

#projects .box .layer {
  background: #19e3d6;
  transform: translateY(100%);
}
#projects .box:hover .layer {
  transform: translateY(-100%);
}
#projects .box .contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  transition: 1s ease-in-out;
  transform: translateY(200%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
#projects .box:hover .contentBx {
  transform: translateY(0);
}
#projects .box .contentBx div {
  transition: 1.3s ease-in-out;
  transform: translateY(100%);
}
#projects .box:hover .contentBx div {
  transform: translateY(0);
}
#projects .box .contentBx div h2 {
  color: #fff;
}
#projects .box .contentBx div p {
  color: #fff;
}

/* ===== Contact =====*/

#contact p,
#contact h2,
#contact span {
  color: #111111;
  margin: 5px;
}

#contact i {
  color: #19e3d6;
  margin: 5px;
}

#contact {
  padding-top: 72px;
  padding-bottom: 72px;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.pexels.com/photos/1298684/pexels-photo-1298684.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

#contact input,
#contact textarea {
  border-radius: 0px;
  border-width: 3px;
  display: inline;
}
#contact input:focus,
#contact textarea:focus {
  box-shadow: none;
  border-color: #19e3d6;
}
#contact h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #19e3d6;
}
#contact .card {
  padding: 32px;
}

.formButton {
  background-color: #04bfbf;
  color: white;
  border: none;
  border-radius: 0px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  transition: 0.3s;
}

.formButton:hover {
  background-color: #4c5252;
  border-radius: 0px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  transition: 0.3s;
}

/* Footer */
footer {
  background-color: #ededed;
  padding: 10px;
}

footer .fab {
  color: #111111;
}

/* animate */
@keyframes borderFill {
  0% {
    background-size: 0 2px, 2px 0, 0 2px, 2px 0;
  }

  100% {
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  }
}

@keyframes borderEmpty {
  0% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  }

  100% {
    background-size: 0 3px, 3px 0, 0 3px, 3px 0;
  }
}

.borderIn {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #19e3d6 100%, #19e3d6 100%),
    linear-gradient(to bottom, #19e3d6 100%, #19e3d6 100%),
    linear-gradient(to right, #19e3d6 100%, #19e3d6 100%),
    linear-gradient(to bottom, #19e3d6 100%, #19e3d6 100%);
  background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation: borderFill 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
}

.borderOut {
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #19e3d6 100%, #19e3d6 100%),
    linear-gradient(to bottom, #19e3d6 100%, #19e3d6 100%),
    linear-gradient(to right, #19e3d6 100%, #19e3d6 100%),
    linear-gradient(to bottom, #19e3d6 100%, #19e3d6 100%);
  background-size: 0% 2px, 2px 0%, 0% 2px, 2px 0%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation: borderEmpty 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
}

.page-container {
  display: none;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 10px solid #f5f5f5;
  border-radius: 50%;
  border-top: 10px solid #19e3d6;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loading-screen {
  position: relative;
  height: 100vh;
  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://images.pexels.com/photos/552785/pexels-photo-552785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: repeat;
  background-size: cover;
}
